/*general*/

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Oxygen', sans-serif;
}

hr {
    /*seccion Destacados*/
    color: rgb(7, 150, 150);
    size: 30px;
}


/*navbar*/

.logo {
    width: 40px;
}

.navbar-brand {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

.navbar-brand {
    font-size: 30px;
}


/* -----main y secciones----*/

main {
    background-color: black;
    color: white;
}


/*seccion Quienes somos*/

.color-icono {
    background-color: rgb(7, 150, 150);
    text-align: center;
}


/*seccion Destacados*/

.card-img-top {
    height: 150px;
    background-size: cover;
}

.card-body {
    background-color: rgb(7, 150, 150);
}


/*seccion Contacto*/

.contactos {
    height: 500px;
}


/*footer*/

footer {
    background-color: rgb(7, 150, 150);
    padding: 0%;
}

.textfo {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

.afoot {
    color: white;
}