/*general*/

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Oxygen', sans-serif;
}


/*navbar*/

.logo {
    width: 40px;
}

.navbar-brand {
    font-size: 30px;
}


/* .navbar {
    position: fixed;
    z-index: 1;
} */

main {
    background-color: black;
    color: white;
}

.contacto {
    background-color: white;
    height: 400px;
    color: black;
}

.card-body {
    background-color: rgb(7, 150, 150);
}


/*   */

.card-img-top {
    height: 150px;
    background-size: cover;
}

.tsuscr {
    font-size: 30px;
}

.color-icono {
    background-color: rgb(7, 150, 150);
    text-align: center;
}

footer {
    background-color: rgb(7, 150, 150);
    padding: 0%;
}

.contactos {
    height: 500px;
}

.suscrip {
    height: 400px;
    background-color: white;
    padding-top: 100px;
    color: black;
}

.afoot {
    color: white;
}